# PIA SOCKS5 proxy
# Generate creds at: https://www.privateinternetaccess.com/pages/client-control-panel
SOCKS5_HOST="proxy-nl.privateinternetaccess.com"
SOCKS5_PORT="1080"
SOCKS5_USERNAME=""
SOCKS5_PASSWORD=""
